#root {
  width: 100%;
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container{
  height: 100%;
}

body, html, #root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar, .nav-link, .btn, h1, h2, h3, h4, h5, h6, p, span, label, input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-hcl {
  background-color: #0033A0 !important;
}

.btn-hcl {
  background-color: #0033A0 !important;
  border-color: #0033A0 !important;
  color: #fff !important;
}

.btn-hcl:hover {
  background-color: #002080 !important;
  border-color: #002080 !important;
  color: #fff !important;
}


.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px; 
  height: 100vh;
  overflow-y: auto;
  background-color: #002080; 
  padding: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.fixed-sidebar {
  color: white;
}

.fixed-sidebar *,
.fixed-sidebar a {
  color: white !important;
}

.fixed-sidebar a:hover {
  color: black !important;
  cursor: pointer;
  background-color: #fff !important;
  border-color: #ccc;
  border-radius: 0.25rem;
}




.scrollable-content {
  margin-left: 280px; 
  padding: 1rem 2rem;
  min-height: 100vh;
  overflow-y: auto;
}

.logout-button {
  margin-top: auto; 
  display: flex;
  align-items: center;
  background-color: #dc3545 !important;  
  color: #fff !important; 
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.show-card{
  background-color: #1D6AF3 !important;
  color: #fff !important;
}
